Checks: >
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  cppcoreguidelines-*,
  google-readability*
# readability-braces-around-statements,
# -cppcoreguidelines-avoid-c-arrays
# -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
WarningsAsErrors: true
HeaderFilterRegex: >
  "(src/headers).*\\.h$"
CheckOptions:
  - key: readability-identifier-length.IgnoredParameterNames
    value: ^[ijxyabn]$
