# Language: Cpp         -- works for C as well
# RemoveSemicolon: true -- works only for clang-format >= 16
# InsertBraces: true    -- the opinion was not formed
---
Language: Cpp
BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
ColumnLimit: 99
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 2
# InsertBraces: true
# RemoveSemicolon: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
...
