BasedOnStyle: Google
UseTab: Never
IndentWidth: 2
ColumnLimit: 79
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
# AllowShortCaseLabelsOnASingleLine: true
InsertBraces: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterFunction: true
#RemoveSemicolon: true
