# bugprone-easily-swappable-parameters: This warning is loud with no clear advice on how to fix the potential problem
Checks: >
  cppcoreguidelines-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  readability-*,
  portability-*,
  performance-*,
  modernize-*,
  bugprone-*,
  hicpp-*,
  misc-*,
  google-*,
  -bugprone-easily-swappable-parameters,
WarningsAsErrors: true
HeaderFilterRegex: >
  "(src/headers).*\\.h$"
CheckOptions:
  - key: readability-identifier-length.IgnoredParameterNames
    value: ^[ijkabnv]$
